/* Global Styles */
body {
    background-color: #93BFB7;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #0D0D0D;
}

a:hover {
    color: #593528;
    text-decoration: none;
}

#container {
    background-color: antiquewhite;
    width: 75%;
    margin: 20px auto;
}

h1, h2, h3{
    text-align: center;
    color: #733B36;

}

/* Destop Styles */

nav {
    background-color: #818274;
    padding: 5px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}    

nav li {
    display: inline-block;
}

nav li a {
    color: #733B36;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav li a:hover {
    color: whitesmoke;
}

header h1 {
    text-align: center;
    font-size: 80px;
    color: #733B36;
    text-shadow: 2px 2px 2px #818274;
}

main {
    padding: 20px;
}

main img {
    width: 50%;
}
#lower {
    display: flex;
}

.col {
    padding: 10;
    margin: 10px;
    border: 2px solid #593528;
    width: 33.33%;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr{
    width: 90%;
}

.button {
    display: block;
    background-color: #818274;
    width: 125px;
    height: 35px;
    color: #593528;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;  
}

.button:hover {
    color: antiquewhite;
}

#xpacs {
    display: flex;
    width: 100%;
}

.xpacscover {
    margin: 10px;
}

.xpacscover img {
    width: 100%;
}

